[package]
name = "hf-floorplan-loader"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

[dependencies]
serde.workspace = true
serde_json.workspace = true
csv.workspace = true
image.workspace = true

[dev-dependencies]
criterion.workspace = true
